$color: (
    RojoOscuro:#b20837,
    RojoClaro:#C6083E,
    AzulOscuro:#21244F,
    AzulClaro:#333566,
    Rosado:#f595b0,
    Celeste:#8789ce,
    Blanco: white,
    Gris: rgb(228, 228, 228),
);

$fontSize: (
    h1: 40px,
    h2: 40px,
    h3: 28px,
    h4: 24px,
    h5: 20px,
    h6: 18px,
    p: 16px,
    i: 100px,
);

$fontweight:(
    regular: 400,
    bold: 600,
    extraBold:700,
);

$rojoOscuro: #b20837;
$rojoClaro:#C6083E;
$azulOscuro:#21244F;
$azulClaro:#333566;
$rosado:#f595b0;
$celeste:#8789ce;
$ancho:100%;
$Gris: #e0e0e0;

$fontSizeMobile: 0.5;
$fontSizeTablet: 2;

$SizeMobile: 1;
$SizeTablet: 1;

